config.stopBubbling = true

# Have Jackson annotations on fields be transfered to the class ctor.
lombok.anyConstructor.addConstructorProperties = true

# Generate "fluent" getters, without the 'get' or 'is' prefix.
lombok.accessors.fluent = true

lombok.log.fieldName = logger

# this is to mark all generated methods so that
# jacoco does not expect it to be covered
# inspired by https://medium.com/@mladen.bolic/lombok-data-improve-your-code-coverage-a74fb624a72b
lombok.addLombokGeneratedAnnotation = true